In [2]:
import pandas as pd
import numpy as np

In [6]:
dfA = pd.read_csv('exp{}p/testeval.csv'.format('A'), header=None)
dfB = pd.read_csv('exp{}p/testeval.csv'.format('B'), header=None)
dfC = pd.read_csv('exp{}p/testeval.csv'.format('C'), header=None)
dfD = pd.read_csv('exp{}p/testeval.csv'.format('D'), header=None)
dfE = pd.read_csv('exp{}p/testeval.csv'.format('E'), header=None)
dfF = pd.read_csv('exp{}p/testeval.csv'.format('F'), header=None)

In [7]:
df_sub = pd.read_csv('sub.csv')
sub_sorted = df_sub.sort_values(by=['fname'])

In [75]:
(sub_sorted.label.as_matrix() == submit.label.as_matrix()).mean()

0.83057058875474654

In [92]:
(sub_sorted.label.as_matrix() == submit.label.as_matrix()).mean()

0.83281610717935128

In [106]:
(sub_sorted.label.as_matrix() == submit.label.as_matrix()).mean()

0.83327025697309165

In [21]:
dfs = (dfA.iloc[:,2:] + dfB.iloc[:,2:] + dfC.iloc[:,2:] + dfD.iloc[:,2:] + dfE.iloc[:,2:] + dfF.iloc[:,2:])/6

In [30]:
dfs = ( dfA.iloc[:,2:] + dfB.iloc[:,2:] + dfC.iloc[:,2:])/3

In [31]:
dfs.head()

,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.000000,0.0,0.000333,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.999667
1,0.0,0.001000,0.0,0.001333,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000667,0.996667
2,0.0,0.004333,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.995667
3,0.0,0.004333,0.0,0.020000,0.001667,0.010333,0.0,0.0,0.003,0.001667,0.000333,0.958333
4,0.0,0.002667,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.997000

In [23]:
preds = np.argmax(dfs.as_matrix(), axis=1)

In [19]:
(dfF.iloc[:,0].as_matrix()==np.argmax(dfF.iloc[:,2:].as_matrix(), axis=1)).mean()

0.9616758687885677

In [26]:
(dfF.iloc[:,0].as_matrix()==np.argmax(dfs.as_matrix(), axis=1)).mean()

0.96784670347515422

In [29]:
(dfF.iloc[:,0].as_matrix()==np.argmax(dfs.as_matrix(), axis=1)).mean()

0.96459889574537183

In [32]:
(dfF.iloc[:,0].as_matrix()==np.argmax(dfs.as_matrix(), axis=1)).mean()

0.96037674569665477

In [15]:
preds

array([10, 10, 10, ...,  3,  3,  3])

In [10]:
tmp = pd.Series(preds)

In [11]:
mapping =  ["silence", "unknown"]
mapping.extend("yes,no,up,down,left,right,on,off,stop,go".split(","))
print(mapping)
dmap = dict(enumerate(mapping))

['silence', 'unknown', 'yes', 'no', 'up', 'down', 'left', 'right', 'on', 'off', 'stop', 'go']

In [12]:
pcol = tmp.map(dmap)

In [13]:
fcol = dfE.iloc[:,0]

In [103]:
submit = pd.DataFrame([fcol,pcol]).T

In [104]:
submit.columns = ['fname', 'label']

In [107]:
submit.to_csv('ABCDEFsub.csv',index=None)

In [135]:
M = 23
N = 3

dfs = []
for i in range(M-N, M, 2):
        df = pd.read_csv('exp{}/test{}.csv'.format('A', i), header=None)
        dfs.append(df)

df = dfs[0].iloc[:,2:]
for i in range(1,len(dfs)):
    df = df + dfs[i].iloc[:,2:]
df = df/len(dfs)

Y = dfs[0][0].as_matrix()
preds = np.argmax(df.as_matrix(),axis=1)

In [19]:
dfs = []
for i in ['A','B','C', 'D', 'E', 'F']:
        df = pd.read_csv('exp{}/test{}.csv'.format( i, 24), header=None)
        dfs.append(df)
        Y = df[0].as_matrix()
        pred = df[1].as_matrix()
        print((Y==pred).mean())

df = dfs[0].iloc[:,2:]
for i in range(1,len(dfs)):
    df = df + dfs[i].iloc[:,2:]
df = df/len(dfs)

Y = dfs[0][0].as_matrix()
preds = np.argmax(df.as_matrix(),axis=1)

0.953231568691
0.951932445599
0.952582007145
0.957128937967
0.959727184151
0.959402403378

In [20]:
(preds==Y).mean()

0.97239363429684966

In [16]:
(preds==Y).mean()

0.96882104579408901

In [141]:
(preds==Y).mean()

0.96020705273374307

In [86]:
df.head()

    2       3    4    5    6       7    8    9       10   11   12   13
0  0.0  0.0000  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
1  0.0  0.0000  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
2  0.0  0.0000  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
3  0.0  0.0000  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
4  0.0  0.0026  0.0  0.0  0.0  0.9934  0.0  0.0  0.0038  0.0  0.0  0.0

In [88]:
preds.shape

(3091,)

0.94823681656421865

In [71]:
from functools import reduce

In [78]:
df = reduce(lambda x,y: x.iloc[:,2:]+y.iloc[:,2:], dfs)

In [79]:
df.head()

   2   3    4    5    6      7    8    9      10   11   12   13
0 NaN NaN  0.0  0.0  0.0  5.000  0.0  0.0  0.000  0.0  0.0  0.0
1 NaN NaN  0.0  0.0  0.0  5.000  0.0  0.0  0.000  0.0  0.0  0.0
2 NaN NaN  0.0  0.0  0.0  5.000  0.0  0.0  0.000  0.0  0.0  0.0
3 NaN NaN  0.0  0.0  0.0  5.000  0.0  0.0  0.000  0.0  0.0  0.0
4 NaN NaN  0.0  0.0  0.0  4.967  0.0  0.0  0.019  0.0  0.0  0.0

In [75]:
df = df/len(dfs)

In [77]:
len(dfs)

5

In [76]:
df.head()

   2   3    4    5    6       7    8    9       10   11   12   13
0 NaN NaN  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
1 NaN NaN  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
2 NaN NaN  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
3 NaN NaN  0.0  0.0  0.0  1.0000  0.0  0.0  0.0000  0.0  0.0  0.0
4 NaN NaN  0.0  0.0  0.0  0.9934  0.0  0.0  0.0038  0.0  0.0  0.0

In [6]:
df24 = pd.read_csv('expA/val24.csv', header=None)

In [15]:
(df24[0]==df24[1]).mean()

0.94791329666774504

In [22]:
df23 = pd.read_csv('expA/val23.csv', header=None)

In [24]:
(df23[0]==df23[1]).mean()

0.94791329666774504

In [25]:
(df23[1]==df24[1]).mean()

0.99288256227758009

In [30]:
df22 = pd.read_csv('expA/val22.csv', header=None)

In [31]:
(df22[0]==df22[1]).mean()

0.94823681656421865

In [32]:
(df22[1]==df24[1]).mean()

0.99223552248463276

In [51]:
df = (df24.iloc[:,2:] + df23.iloc[:,2:] + df22.iloc[:,2:])/3

In [52]:
mat = df.as_matrix()

In [56]:
import numpy as np
preds = np.argmax(mat, axis=1)

In [57]:
preds.shape

(3091,)

In [59]:
pdf = pd.DataFrame(preds)

In [62]:
(pdf[0]==df24[0]).mean()

0.94888385635716599